
 @import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Karla:wght@400;700&family=Lato:wght@400;700&family=Merriweather&display=swap');
    
 * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
 body {
  font-family: 'Karla', sans-serif;
 }

   .leftContent {
      color: black;
      margin: 50vh 0;
      text-align: left;
      font-size: 1.1em;
      padding: 10px;
    }

    .graphicContainer {
      background: rgb(253,236,238);
    background: linear-gradient(180deg, rgba(253,236,238,1) 22%, rgba(235,248,255,1) 45%, rgba(255,248,235,1) 78%, rgba(255,195,77,1) 96%);
      padding: 40vh 4vw 70vh;
      display: flex;
      justify-content: space-between;
    }

    .graphic {
      flex-basis: 60%;
      position: sticky;
      width: 100%;
      height: 35vh;
      top: 35vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    .graphic p {
      font-family: 'Karla', sans-serif;
        text-shadow: 3px 3px #039BE8;
        font-size: 7rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
    }

    .scroller {
      flex-basis: 35%;
      margin-left: 25px;
    }

    .step {
      margin: 0 auto 3rem auto;
      padding: 180px 0;
      border: 1px solid #333;
    }

    .step p { 
     text-align: center;
     padding: 1rem;
     font-size: 1.8rem;
     margin: 0;
    }
    
    .step:last-child {
        margin-bottom: 0;
    }

    h3 {
      left: 45vw;
      top: 5vh;
      font-family: 'Karla', sans-serif;
      font-size: 1.2em;
      position: fixed;
      text-transform: uppercase;
    }
